.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.section {
  overflow: hidden;
}

.header {
  color: white;
  cursor: pointer;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.headerContent {
  position: absolute;
  top: 0.6rem;
  left: 0.5rem;
  pointer-events: none;
  width: 100%;

  display: flex;
}

.headerContentLeft {
  display: flex;
  margin-right: 0.5rem;
}

.levelLine {
  display: block;
  width: 0.5rem;
  height: 100%;
  margin-right: 2px;
  background-color: gold;
}

.headerContentRight {
  width: 100%;
}

.headerContentRightTop {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 1rem);
}

.headerContentRightBottom {
}

.arrowIcon {
  transition: all 0.5s;
}

.rotateArrow {
  transform: rotate(90deg);
}

.dataContainer {
}
